CompileFlags:
  Add: 
    - "-isystem"
    - "/usr/arm-none-eabi/include/c++/14.2.0"
    - "-isystem"
    - "/usr/arm-none-eabi/include/c++/14.2.0/arm-none-eabi"
    - "-isystem"
    - "/usr/arm-none-eabi/include"
    - "-I./include"
  Remove: 
    - "-mthumb"
    - "-mabi=*"
    - "-mfloat-abi=*"
    - "-mcpu=*"
    - "-mfpu=*"
    - "--specs=*" # THIS IS CRITICAL: Clang hates GCC specs files
Index:
  Background: true
